.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 30px;
  width: 420px;
  right: 0px;
  height: 100%;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  .drawerHeader {
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 0;
      font-size: 24px;
      margin-bottom: 20px;
    }
    .exit {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 1;
        img {
          width: 33px;
          height: 33px;
        }
      }
    }
  }

  .cartItemContainer {
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 50px;

    .cartItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 325px;
      height: 119px;
      background: #ffffff;
      border: 1px solid #f3f3f3;
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 20px;

      .cartItemImg {
        width: 156px;
        height: 70px;
        background-size: cover;
        background-position: 0 -7px;
        background-repeat: no-repeat;
        margin-right: 9px;
        margin-left: 5px;
      }
    }
    p {
      margin-bottom: 5px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }
    b {
      font-size: 14px;
    }
    img {
      margin: 20px;
    }
    .btnRemove {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }

  .cartTotalBlock {
    ul {
      margin-bottom: 30px !important;
    }
    li {
      display: flex;
      margin-bottom: 20px;
      align-items: flex-end;
    }
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -3px;
      margin: 0 10px;
    }
    button {
      background: #9dd558;
      border-radius: 18px;
      width: 100%;
      height: 55px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      border: 0;
      color: #ffffff;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        background: lighten(#9dd558, $amount: 5%);
      }
      &:active {
        background: darken(#9dd558, $amount: 5%);
      }
    }
  }
}
